$perusian-blue: #003249;
$non-photo-blue-dark: #80CED7;
$non-photo-blue-light: #9AD1D4;
$cerulean: #007EA7;
$platinum: #CCDBDC;
$alabaster: #E8EDDF;
$saffron: #F5CB5C;
$eerie-black: #242423;
$jet: #333533;