$perusian-blue: #003249;
$non-photo-blue-dark: #80ced7;
$non-photo-blue-light: #9ad1d4;
$cerulean: #007ea7;
$platinum: #ccdbdc;
$alabaster: #e8eddf;
$saffron: #f5cb5c;
$eerie-black: #242423;
$jet: #333533;
$sienna: #78290f;
$papaya-whip: #ffecd1;
