@use '../variables/fonts' as fonts;

#book-detail-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 1em;

  #book-detail-content__img {
    max-width: 50%;
    height: 30em;
  }

  .book-detail-content__title-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'title title button';

    .title-section__title {
      grid-area: title;
      font-size: 2em;
      font-weight: bold;
      font-family: fonts.$heading-font;
    }

    .title-section__button-group {
      grid-area: button;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 0.5em;
    }
  }
}
