@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1em;

  .home-page-container__create-book-btn {
    width: 100%;
    max-width: 15em;
    height: 2em;
    border-radius: 1em;
    background-color: colors.$saffron;
    color: colors.$perusian-blue;
    font-family: fonts.$text-font;
    font-size: 1.2em;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 1em 1em 0 0;

    &:hover {
      background-color: colors.$cerulean;
      color: colors.$alabaster;
    }
  }
}
