@use '../variables/colors' as colors;
@use '../variables/fonts' as fonts;

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 2em;

  .page-container__title {
    font-family: fonts.$heading_font;
    font-size: 2em;
    font-weight: 900;
    color: colors.$eerie-black;
  }

  .page-container__input-single {
    width: 100%;
  }

  .page-container__input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    .page-container__input-group__input {
      width: 100%;
    }
  }

  .page-container__input-group__btn-group {
    display: flex;
    justify-content: center;
    margin: 2em;

    .input-group__btn-group__agree-btn {
      background-color: colors.$perusian-blue;
      font-weight: 900;
      color: colors.$alabaster;
      padding: 0.75em 5em;
      border-radius: 0.5em;
    }

    .input-group__btn-group__cancel-btn {
      background-color: colors.$sienna;
      color: colors.$alabaster;
      font-weight: 900;
      margin-right: 3em;
      padding: 0.75em 5em;
      border-radius: 0.5em;
    }
  }
}
